<a href="https://colab.research.google.com/github/seewol/DataAnalysis/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [8]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[: 4]
print(first_four)
# 뒤 3개의 원소를 출력
last_three = numbers[-3: ] # 끝 인덱스는 포함 안 됨.
# 첫 번째, 마지막 인덱스는 없어도 동일한 결과.
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [12]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 간격을 이용하기!
# 홀수번째 항목 출력
every_other_list = numbers[::2] # 정방향으로 2칸씩
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1] # 역으로 1칸씩
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [13]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[:2]
print(first_two_rows)

# 첫 두 열 출력
first_two_columns = [row[:2] for row in matrix]
# 각 행을 돌리면서 0, 1 인덱스까지(두 열만) 추출
print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

## 2-2 리스트 컴프리헨션

In [17]:
numbers = [ ]

# 0 ~ 4 포함 리스트 생성
# range()도 마지막 인덱스 포함 안 함

# for i in range(5):
#     numbers.append(i)

numbers = [num for num in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

In [18]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
# for num in numbers:
#   squares.append(num ** 2)

squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
# for num in numbers:
#     if num % 2 == 0:
#         even_numbers.append(num)

even_numbers = [num for num in numbers if num % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10]

In [38]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함된 모든 원소를 조합한 투플의 리스트 생성
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))
print(*pairs, sep = "\n")

print()

my_pairs = [(fruit, product) for fruit in list1 for product in list2]
# list1이 한 번 돌 때 중첩된 형태로 list2가 돌아야 함.
print(*my_pairs, sep = "\n")

('사과', '주스')
('사과', '잼')
('사과', '통조림')
('복숭아', '주스')
('복숭아', '잼')
('복숭아', '통조림')
('바나나', '주스')
('바나나', '잼')
('바나나', '통조림')

('사과', '주스')
('사과', '잼')
('사과', '통조림')
('복숭아', '주스')
('복숭아', '잼')
('복숭아', '통조림')
('바나나', '주스')
('바나나', '잼')
('바나나', '통조림')

In [42]:
squares = { }

# 딕셔너리 생성 (키, 값 형식, 중괄호 {} 활용)
for i in range(5):
    squares[i] = i ** 2
print(squares)

print()

my_squares = {i : i ** 2 for i in range(5)}
print(my_squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [50]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
large_cities = {city : pop for city, pop in city_population.items()
                                                        if pop >= 200}
# (키, 값) 튜플 리스트로 반환할 수 있도록 items() 메서드 활용
# items() : 각 dictionary element가 하나의 튜플로 묶여서 반환됨

print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {city : pop for city, pop in city_population.items()
                                                      if pop >= 300
                                                      and '산' in city}
print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

## 2-3 문자열 형식화

In [55]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름 : %s, 나이 : %d, 월급 : %d원' % (name, age, salary)
print(basic_format)

# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력


# print(index_format)
# print(keyword_format)

이름 : 홍길동, 나이 : 30, 월급 : 3500000원

In [64]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름 : {}, 나이 : {}, 월급 : {:,}'.format(name, age, salary)
print(basic_format)

# 직원이름, 나이, 세후 월급 출력
index_format = '이름 : {0}, 나이 : {1}, 세후 월급 : {2:,}'.format(name, age, int(salary * (1 - tax_rate)))
print(index_format)

# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = '이름 : {employee}, 나이 : {years}, 월급 : {income:,}, 세금 : {tax:.1%}, 실수령액 : {net_income:,}'.format(
                      employee = name, years = age, income = salary, tax = tax_rate, net_income = int(salary * (1 - tax_rate)))
print(keyword_format)

이름 : 홍길동, 나이 : 30, 월급 : 3,500,000
이름 : 홍길동, 나이 : 30, 세후 월급 : 3,150,000
이름 : 홍길동, 나이 : 30, 월급 : 3,500,000, 세금 : 10.0%, 실수령액 : 3,150,000

In [79]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = f'이름 : {name}, 나이 : {age}, 월급 : {salary:,}원'
print(basic_format)

# 직원이름, 나이, 세후 월급 출력
index_format = f'직원 {name}의 나이는 {age}살이고, 세후 월급은 {int(salary * (1 - tax_rate)):,}원이다.'
print(index_format)

# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = F'직원 {name}의 나이는 {age}살이고, 월급은 {salary:,}원이다.\n하지만 세금이 무려 {tax_rate:.1%}라 실수령액은 {int(salary * (1 - tax_rate)):,}원이다.'
print(keyword_format)

이름 : 홍길동, 나이 : 30, 월급 : 3,500,000원
직원 홍길동의 나이는 30살이고, 세후 월급은 3,150,000원이다.
직원 홍길동의 나이는 30살이고, 월급은 3,500,000원이다.
하지만 세금이 무려 10.0%라 실수령액은 3,150,000원이다.

## 2-4 컨텍스트 관리

In [81]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()

# with문을 사용한 예
with open('output.txt', 'w') as file :
    file.write('Hello, world!\n')

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리
with open('input.txt', 'r') as in_file, open('output.txt', 'w') as out_file :
  for line in in_file :
    out_file.write(line.upper())

In [82]:
import urllib.request

# URL 연결 관리
with urllib.request.urlopen('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv') as response :
    data = response.read( ).decode('utf-8')

print(data)

학번,이름,데이터베이스,파이썬,클라우드
101,김철수,85,78,92
102,이영희,76,82,78
103,박지민,92,95,85
104,최준서,63,70,75
105,정미나,88,84,91